<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1>HOLA MUNDO</h1>
    <p>Sapo perro, esto es mi primer documento html dentro de spring framework con boot</p>
    
    <br>
    <hr>
    <br>
    
    <ul>
        <li><strong>Nombre: </strong><span th:text="${empleado.getNombre()}"></span></li>
        <li><strong>Apellido: </strong><span th:text="${empleado.getApellido()}"></span></li>
        <li><strong>Puesto: </strong><span th:text="${empleado.getPuesto()}"></span></li>
        <li><strong>Dirección: </strong><span th:text="${empleado.getDireccion()}"></span></li>
        <li><strong>Teléfono: </strong><span th:text="${empleado.getTelefono()}"></span></li>
        <li><strong>ID: </strong><span th:text="${empleado.getId()}"></span></li>
        <li><strong>Edad: </strong><span th:text="${empleado.getEdad()}"></span></li>
        <hr>
        <li>
            <strong>Color de pelo: </strong>
            <span th:text="${empleado.getPelo() != null ? empleado.getPelo() : 'Es calvo'}"></span>
        </li>
    </ul>

    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Puesto</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Departamento</th>
                <th>Pelo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${Empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.direccion}"></td>
                <td th:text="${empleado.puesto}"></td>
                <td th:text="${empleado.edad}"></td>
                <td th:text="${empleado.telefono}"></td>
                <td th:text="${empleado.id}"></td>
                <td th:text="${empleado.getPelo() != null ? empleado.getPelo() : 'Es calvo'}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>